body, h1, h2, h3, p, li, span {
    font-family: Ubuntu;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 150%;
}

body {
    height: 98%;
    background-size: cover;
}

html {
    background-color: black;
    height: 100%;
}

input[type='checkbox'], input[type='radio'], button, select {
   transform: scale(1.5);
}
