body, h1, h2, h3, p, li, span {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 150%;
}

body {
    height: 98%;
    background-size: cover;
}

html {
    background-color: black;
    height: 100%;
}

textarea {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 150%;
}

input[type='checkbox'], input[type='radio'], button, select {
    transform: scale(1.6);
}

input[type='checkbox'], input[type='radio'] {
    display: none;
}

button {
    margin: 2em;
}

.selected {
    background-color: silver;
}

.selected:hover {
    background-color: silver;
}

label {
    padding: 1em;
    display: inline-block;
    border-radius: 25px;
}

label:hover {
    background-color: white;
    color: black;
}

a:-webkit-any-link {
    color: blue;
    text-decoration: none;
    cursor: auto;
    padding: 1em;
    border-radius: 25px;
}

a:hover {
    background-color: gray;
}

.warning {
    background-color: yellow;
    color: red;
}

.user {
    float: right;
    text-align: center;
}


.fade.ng-enter {
    transition: 5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
