body, h1, h2, h3, p, li, span {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 150%;
}

body {
    height: 98%;
    background-size: cover;
}

html {
    background-color: black;
    height: 100%;
}

input[type='checkbox'], input[type='radio'], button, select {
    transform: scale(1.6);
}

input[type='text'] {
    margin-top:1em;
    margin-left: 19em;
    transform: scale(1.6);
}

button {
    margin-left: 1em;
}

label {
    padding: 1em;
    display: inline-block;
    border-radius: 25px;
}

label:hover {
    background-color: gray;
}

a:-webkit-any-link {
    color: blue;
    text-decoration: none;
    cursor: auto;
    padding: 1em;
    border-radius: 25px;
}

a:hover {
    background-color: gray;
}
