<!DOCTYPE html>
<html data-ng-app="pdModule" ng-controller="pdController">

<head>
    <title>500px</title>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="icon" href="favicon.png" type="image/png">
</head>

<body>
    <div id="notSlideshowDiv" ng-show="!slideshowInProgress">
        <h1>500px</h1>
        <div>
            <p>Features:</p>
            <label><input type="radio" ng-model="settings.feature" value="editors" ng-change="saveSettings()"/>Editors</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="popular" ng-change="saveSettings()"/>Popular</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="highest_rated" ng-change="saveSettings()"/>Higest rated</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="upcoming" ng-change="saveSettings()"/>Upcoming</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="fresh_today" ng-change="saveSettings()"/>Fresh today</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="fresh_yesterday" ng-change="saveSettings()"/>Fresh yesterday</label>&nbsp;&nbsp;
            <label><input type="radio" ng-model="settings.feature" value="fresh_week" ng-change="saveSettings()"/>Fresh week</label>&nbsp;&nbsp;
        </div>
        <div>
            <p>Categories:</p>
            <label ng-repeat="category in settings.categories"><input type="checkbox" ng-model="category.checked" ng-change="saveSettings()"/>{{category.name}}</label>
            <a href ng-click="selectAllCategories()" title="Select all features">All</a>
            <a href ng-click="deselectAllCategories()" title="De-select all features">None</a>
        </div>
        <div>
            <p>Slideshow seconds:&nbsp;
                <select ng-model="settings.seconds" ng-change="saveSettings()">
        <option value=0>Off</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
        <option value=15>15</option>
        <option value=20>20</option>
        <option value=30>30</option>
        <option value=60>60</option>
      </select>
            </p>
        </div>
        <p>&nbsp;</p>
        <button ng-click="startSlideshow()">Start</button>
    </div>
    <div style="position: fixed;right: 0;top: 0;opacity: 0.2;">{{message}}</div>
    <div id="firstRunMessageId" style="left: 0;line-height: 200px;margin-top: -100px;position: absolute;text-align: center;top: 50%; width: 100%;font-size:8em;">Key a number to stop this slideshow.</div>
</body>

</html>
