<!DOCTYPE html>
<html data-ng-app="pdModule" ng-controller="pdController">

<head>
    <title>500px</title>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="icon" href="favicon.png" type="image/png">
</head>

<body>
    <div id="notSlideshowDiv" ng-show="!slideshowInProgress">
        <h1>Slideshowing Photos from 500px.com</h1>
        <p>View mode:</p>
        <label ng-class="{'selected':settings.usersOrFeatures == 'features'}" title="View photos based on features and categories"><input type="radio" ng-model="settings.usersOrFeatures" value="features" ng-change="changeMode()"/>Features and Categories</label>&nbsp;&nbsp;
        <label ng-class="{'selected':settings.usersOrFeatures == 'users'}" title="View photos based on user names you provide"><input type="radio" ng-model="settings.usersOrFeatures" value="users" ng-change="changeMode()"/>Users</label>&nbsp;&nbsp;
        <div ng-show="settings.usersOrFeatures == 'users'">
            <ul>
                <li ng-repeat="error in errors" class="warning">{{error}}</li>
            </ul>
            <div>
                <textarea ng-model="settings.usernames" placeholder="joe, bob, suzie, billy, rachel..." title="Comma or space separated 500px usernames" cols="50" rows="3"></textarea>&nbsp;&nbsp;
                <div class="userDisplayedContainer"><img ng-src="{{userDisplayed.userpic_url}}"><br>{{userDisplayed.fullname}}</div>
            </div>
            <button ng-click="queryServerUsers()">Save users</button>
        </div>
        <div ng-show="settings.usersOrFeatures == 'features'">
            <div>
                <p>Features:</p>
                <label ng-class="{'selected':settings.feature == 'editors'}"><input type="radio" ng-model="settings.feature" value="editors" ng-change="changeMode()"/>Editors</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'popular'}"><input type="radio" ng-model="settings.feature" value="popular" ng-change="changeMode()"/>Popular</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'highest_rated'}"><input type="radio" ng-model="settings.feature" value="highest_rated" ng-change="changeMode()"/>Highest rated</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'upcoming'}"><input type="radio" ng-model="settings.feature" value="upcoming" ng-change="changeMode()"/>Upcoming</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'fresh_today'}"><input type="radio" ng-model="settings.feature" value="fresh_today" ng-change="changeMode()"/>Fresh today</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'fresh_yesterday'}"><input type="radio" ng-model="settings.feature" value="fresh_yesterday" ng-change="changeMode()"/>Fresh yesterday</label>&nbsp;&nbsp;
                <label ng-class="{'selected':settings.feature == 'fresh_week'}"><input type="radio" ng-model="settings.feature" value="fresh_week" ng-change="changeMode()"/>Fresh week</label>&nbsp;&nbsp;
            </div>
            <div>
                <p>Categories:</p>
                <label ng-repeat="category in settings.categories" ng-class="{'selected':category.checked}"><input type="checkbox" ng-model="category.checked" ng-change="changeMode()"/>{{category.name}}</label>
                <a href ng-click="selectAllCategories()" title="Select all features">All</a>
                <a href ng-click="deselectAllCategories()" title="De-select all features">None</a>
            </div>

        </div>
        <p>Slideshow seconds:&nbsp;
            <label ng-class="{'selected':settings.seconds == s}" ng-repeat="s in seconds"><input type="radio" ng-model="settings.seconds" ng-change="saveSettings()" ng-value="s"/>{{s}}</label>
        </p>
        <button ng-click="startSlideshow()" title="Start the slideshow">Start</button>
    </div>
    <div style="position: fixed;right: 10px;bottom: 10px;opacity: 0.2;">{{message}}</div>
    <div  class="startupMessage animate-show-hide" ng-show="startupMessage">Key a number to stop this slideshow.</div>
</body>

</html>
